<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript">
        function display()
        {
            uname = document.getElementById("nm")
            if(uname.value.length == 0)
            {
                alert("Please Enter Your Name")
                uname.focus()
                return
            }

            mob = document.getElementById("num")
            if(mob.value.length == 0)
            {
                alert("Please Enter Mobile Number")
                mob.focus()
                return  
            }
            gen1= document.getElementById("mgen")
            gen2= document.getElementById("lgen")
            if(gen1.checked !=true && gen2.checked !=true)
            {
                
                alert("Please Select Gender")
                gen.focus()
                return 
            }

            type1= document.getElementById("sav")
            type2= document.getElementById("cur")
            if(type1.checked !=true && type2.checked !=true)
            {
                
                alert("Please Select Account Type ")
                type.focus()
                return 
            }
            deposit= document.getElementById("num1")
            if(deposit.value.length==0)
            {
                
                alert("Please Enter Amount")
                deposit.focus()
                return 
            }
            rand= document.getElementById("otp")
            if(rand.value.length==0)
            {
                
                alert("Please Enter Account Number")
                rand.focus()
                return 
            }
            random1= parseInt(document.getElementById("otp").value)
            if(random1 != otp)
            {
                alert("Please check Account Number" +otp)
                random1.focus()
                return
            }
            else
            {
                alert("Record Added Successfully")
                myform.submit()
                
            }
            
            
        }
        var otp = " ";
        function generateOtp()
        {
            let num ="0123456789";
            
            for (let i=0; i<5; i++)
            {
                otp += num[Math.floor(Math.random()*10)];
                
            }
            alert ("Your Account Number:"+ otp)
            nm = document.getElementById("otp")
            nm.focus()
            document.getElementById("xyz").innerHTML=otp
            
        
            
        }

       
    
    </script>
    <style>
        body
        {
            background-image: url("../static/bank5.jpg");
            background-size:cover
            
        }
       
    </style>
</head>
<body>
    <form action="/Addrecord" method="post" name="myform">
        <table cellspacing="5" align="right" bgcolor="brown"><br><br>
    
        <tr>
            <td>
                
                <a href="/adminFeature">
                    <input type="button" value="INDEX PAGE">
                </a>
            </td>

            <td>
            <a href="/showAll">
                <input type="button" value="SHOW ACCOUNT HOLDER">
            </a>
        </td>
        
        </tr>
        
    </table>
    
    <center>
        <br><br>
            <hr>
            <p><strong><h2><b><i>!!!...Account Holder Details...!!!</i></b></h2></strong></p>
            <table >
                <tr><td>{%if msg%}
                <p><strong>{{msg}}</strong></p>
                {%endif%}</td></tr>
            </table>
            <hr>
            
            <br>
            
            <table border="10" cellpadding="10" cellspacing="8">
                <tr>
                    <td>Enter Name</td>
                    <td>
                        <input type="text" name="uname" id="nm" >
                    </td>
                </tr>
                <tr>
                    <td>Mobile No.</td>
                    <td>
                        <input type="number" name="no" id="num">
                    </td>
                </tr>
                <tr>
                    <td>Select Gender</td>
                    <td>
                        <input type="radio" name="gender" value="Male" id="mgen"/>Male
                        <input type="radio" name="gender" value="Female" id="lgen"/>Female
                    </td>
                </tr>
                <tr>
                    <td>Select Account Type</td>
                    <td>
                        <input type="radio" name="type" value="Saving" id="sav"/>Saving
                        <input type="radio" name="type"value="Current" id="cur"/>Current
                    </td>
                </tr>
                <tr>
                    <td>Click Here To Generate Account Number</td>
                    <td>
                        
                        <input type="button" value="GENERATE" onclick="generateOtp()">
                        
                        <input type="number" name="accnum" id="otp" > <span id="xyz"></span>
                    </td>
                </tr>
                <tr>
                    <td>Minimum Deposit</td>
                    <td>
                        <input type="number" name="money" id="num1"/>                       
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="button" value="SUBMIT" onclick="display()"/>                       
                    </td>
                    
                </tr>
                
                


            </table>
        </form>
    </center>
    
</body>
</html>