<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-image: url('../static/bank11.jpg');
            background-size: cover;
        }
        h2
        {
            background-color:yellow;
        }
        button{
            background-color: rgb(32, 177, 239);
        }
    </style>
</head>
<body>
    <center>
        <br><br>
        <h2><b>!!!...WELCOME TO BANK MANAGEMENT SYSTEM...!!!</b></h2><p align="right"><a href="/feature/5" >
            <button type="button">LOGOUT</button>
            </a></p>
            <img src="../static/3.png" align="left" height="150%" width="40%">
            <img src="../static/4.png" align="right" height="100%" width="33%">
        
        <br><br><br><br><br>
        <form>
            
            
            
            
            <table cellspacing="8" >
                <p><strong><h3><b><i>!!!...INDEX...!!!</i></b></h3></strong></p>
                <tr>
          <td>
                        <a href="/feature/1">
                            <li type="square"><input type="button" value="ADD NEW ACCOUNT"></li>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/feature/2">
                        <li type="square"><input type="button" value="SEARCH ACCOUNT"></li>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/feature/3">
                        <li type="square"><input type="button" value="CLOSE ACCOUNT"></li>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/feature/4">
                        <li type="square"><input type="button" value="ALL ACOOUNT HOLDER"></li>
                        </a>
                    </td>
                </tr>
              

            </table>
        </form>
    </center>
    
</body>
</html>