<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      
    <style>
        body
        {
            background-image: url("../static/bank1.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
    <form method="post" action="/searchRecord">
        <br>
        <table cellspacing="5" align="right" bgcolor="orange">
            <tr><td><a href="/addAcc" >
                <input type="button" value="ADD NEW CUSTOMER">
            </a></td>
        
        <td> <a href="/adminFeature">
            <input type="button" value="INDEX PAGE">
        </a></td>
    </tr>
    </table>
        <center>
            <table>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <tr>
                    <td>
                        <input type="submit" value="SEARCH BY ID" name="action" >

                    </td>
                    <td></td>
                    <td>
                        <input type="submit" value="SEARCH BY NAME" name="action">
                        
                        
                    </td>
                </tr>
                <tr></tr><tr></tr>
                <tr>
                    <td></td>
                    <td >
                        <input type="submit" value="SEARCH BY ACCOUNT NUMBER" name="action">

                    </td>
                </tr>
           

            
            </table>
        </center>
    </form>
    
</body>
</html>